/*
   My Beeper 'Eleganter' Theme

   This should work with both Dark and Light themes

   Features:
   - Flatter. No borders.
   - Sexier 'Spacebar'
   - Muted room indicator
   - Less obtrusive unread
   - Full width date separators
   - No 'Send' text, ▶ is good enough for me
   - Bigger monospace text areas in prefs
   - Different fonts for UI and Messages
   - No purple gradient

   Repo: https://github.com/dzg/beeper
   Version: 1
*/


/* I like Roboto*/
* {
   font-family: Roboto, system-ui, Avenir, Helvetica, Lato, Apple Color Emoji, Twemoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif, Noto Color Emoji !important;
}

/* Messages with serifs */
.mx_EventTile_body {
   font-family: RobotoSlab-Regular !important;
}

/* Mono when I'm tweaking CSS */
textarea#mx_Field_15, textarea#mx_Field_10 {
   font-family: monospace !important;
   font-size: 80% !important;
}

/* Need more room for my CSS */
.mx_AppearanceUserSettingsTab .mx_Field {
   width: 100%;
   height: 50ex;
}
.mx_DevTools_textarea textarea {
   font-family: monospace !important;
}

/* Full width date separator */
.mx_DateSeparator > div {
   width: 100% !important;
   border: none !important;
   background: hsl(0deg 0% 50% / 15%) !important;
   border-radius: 0 !important;
   height: 4ex !important;
}

/* Not a fan of the gradient */
.mx_EventTile_messageOut .mx_EventTile_line {
   background: hsl(276, 82%, 59%);
}

/* Ugh, borders */
.bp_CommandBarSearch {
   border: none !important;
   background: hsl(0deg 0% 50% / 25%) !important;
}

.mx_MessageComposer_wrapper {
   border: none !important;
   background: hsl(0deg 0% 50% / 15%) !important;
}

/* Unread indicator takes too much room */
.indicator {
   position: relative;
   top: 14px;
   left: 10px;
   margin-left: -17px;
}

/* And let's make it red to match the unread counts in the spacebar */
.bp_RoomTile .indicator.unread {
   background-color: #f23449;
}

/* Underlines? Nah */
.bp_LeftPanel .inboxModeSelector .option {
   text-decoration: none !important;
   opacity: 50% !important;
}

.bp_LeftPanel .inboxModeSelector .option.active {
   opacity: 100% !important;
}

/* Let me know who's muted. Icon + dim */
.isMuted .name:after {
   content: ' 🔕' !important;
   /*     filter: grayscale(1); */
}

.isMuted {
   opacity: .5
}

/* ▶ is better than "Send" */
.mx_MessageComposer_send:before {
   content: '▶' !important;
   font-size: 22px;
   vertical-align: bottom;
}

.mx_MessageComposer_send {
   font-size: 0
}


/* Spacebar is clunky and I don't like borders. Let's flatten it. */
.bp_LeftPanel .spaceBar .grid {
   grid-gap: 1px !important;
}

.bp_SpaceBarItem {
   border: none !important;
   background: none !important;
   box-shadow: none !important;
   -webkit-box-shadow: none !important;
}



/* .bp_SpaceBarItem.active {
   background: hsl(0deg 0% 50% / 25%) !important;
}
*/

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.inbox {
	-webkit-mask-image: url(/webapp/img/icon-inbox.f01940d.svg) !important;
	mask-image: url(/webapp/img/icon-inbox.f01940d.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.low {
	-webkit-mask-image: url(/webapp/img/icon-low-priority.b35ee01.svg) !important;
	mask-image: url(/webapp/img/icon-low-priority.b35ee01.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.bookmarks {
	-webkit-mask-image: url(/webapp/img/icons-bookmarks.faf8f6b.svg) !important;
	mask-image: url(/webapp/img/icons-bookmarks.faf8f6b.svg) !important;
	-webkit-mask-size: 18px;
	mask-size: 18px;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.androidsms {
	-webkit-mask-image: url(/webapp/img/social/color/androidsms.9949492.svg) !important;
	mask-image: url(/webapp/img/social/color/androidsms.9949492.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.beeper {
	-webkit-mask-image: url(/webapp/img/social/color/beeper.4c81857.svg) !important;
	mask-image: url(/webapp/img/social/color/beeper.4c81857.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.discord {
	-webkit-mask-image: url(/webapp/img/social/color/discord.08f2902.svg) !important;
	mask-image: url(/webapp/img/social/color/discord.08f2902.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.facebook {
	-webkit-mask-image: url(/webapp/img/social/color/facebook_messenger.5989667.svg) !important;
	mask-image: url(/webapp/img/social/color/facebook_messenger.5989667.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.googlechat {
	-webkit-mask-image: url(/webapp/img/social/color/googlechat.661e835.svg) !important;
	mask-image: url(/webapp/img/social/color/googlechat.661e835.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.hangouts {
	-webkit-mask-image: url(/webapp/img/social/color/hangouts.29e12dc.svg) !important;
	mask-image: url(/webapp/img/social/color/hangouts.29e12dc.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.imessage {
	-webkit-mask-image: url(/webapp/img/social/color/imessage.25ffa72.svg) !important;
	-webkit-mask-image: url(/webapp/img/social/imessage.a3eb834.svg) !important;
	mask-image: url(/webapp/img/social/color/imessage.25ffa72.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.instagram {
	-webkit-mask-image: url(/webapp/img/social/color/instagram.f5a5ccc.svg) !important;
	mask-image: url(/webapp/img/social/color/instagram.f5a5ccc.svg) !important;
	-webkit-mask-size: 24px;
	mask-size: 24px;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.linkedin {
	-webkit-mask-image: url(/webapp/img/social/color/linkedin.1ec3520.svg) !important;
	mask-image: url(/webapp/img/social/color/linkedin.1ec3520.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.matrix {
	-webkit-mask-image: url(/webapp/img/social/color/matrix.de1088d.svg) !important;
	mask-image: url(/webapp/img/social/color/matrix.de1088d.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.signal {
	-webkit-mask-image: url(/webapp/img/social/color/signal.eca5011.svg) !important;
	mask-image: url(/webapp/img/social/color/signal.eca5011.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.slack {
	-webkit-mask-image: url(/webapp/img/social/color/slack.c3bca9a.svg) !important;
	mask-image: url(/webapp/img/social/color/slack.c3bca9a.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.telegram {
	-webkit-mask-image: url(/webapp/img/social/color/telegram.38af351.svg) !important;
	mask-image: url(/webapp/img/social/color/telegram.38af351.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.twitter {
	-webkit-mask-image: url(/webapp/img/social/color/twitter.f195ce0.svg) !important;
	mask-image: url(/webapp/img/social/color/twitter.f195ce0.svg) !important;
}

.bp_LeftPanel .spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image.whatsapp {
	-webkit-mask-image: url(/webapp/img/social/color/whatsapp.6beca2a.svg) !important;
	mask-image: url(/webapp/img/social/color/whatsapp.6beca2a.svg) !important;
}

.bp_LeftPanel .spaceBar .active .bp_SpaceBarItem_image {
/*     background: #b72af4; */
	opacity: 1 !important;
}

.spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image {
	background: #999;
}

.spaceBar .bp_SpaceBarItem:not(.active) .bp_SpaceBarItem_image {
	opacity: .5;
	background-image: none !important;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 24px ;
	mask-size: 24px;
	-webkit-mask-position: center;
	mask-position: center;
}

code, code * {
    font-family: RobotoMono-Regular, monospace !important;
}
